.tictactoegame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameheader{
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
  align-items: center;
}

.title {
  text-transform: uppercase;
}

.player {
  display: flex;
  flex-flow: row;
}

#restartbutton {
  background-color: blue;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  outline: none;
}

#restartbutton:hover {
  background-color: lightblue;
}

row {
  display: flex;
  justify-content: center;
}

box {
  width: 100px;
  height: 100px;
  border: 5px solid black;
  text-align: center;
  font-size: 70px;
  border-radius: 10px;
}

box:hover {
  cursor: pointer;
  background-color: yellow;
}
